@import url(bootstrap.css);
@import url(bootstrap-responsive.css);
html{
  height: 100%;
}
body{
  background-color: #e7e7e7;
}
#main{
  height: 100% !important;
}
#graph{
  height: 600px;
}
.thin-margin{
  margin: 20px;
}